@{
    ViewData["Title"] = "Home Page";
}

@model Entertainer

<h1>Welcome to the Entertainment Agency!</h1>

<br />

<h5>Check out our entertainers <a asp-controller="Home" asp-action="Entertainers">here!</a></h5>

